<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 <bean id="bell" class="main.Bell">
 <property name="name" value="Tcar colocol"></property>
 </bean>
    <bean id="person" class="main.Student" autowire="byType">
    <property name="name" value="#{bell.getName().toUpperCase()+' balabol'[3]}"></property>
    
       
    </bean>

</beans>